:root {
    --slider-card-count: 3;
    --slider-card-width: calc(100% / var(--slider-card-count));
}


body {
    background: linear-gradient(180deg, rgb(242, 242, 240), rgb(238, 237, 226));
    background-repeat: no-repeat;
}

h1,
h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.gallery {
    width: 50vw;
    margin: 50px auto;
}

.gallery a {
    color: #303030;
}


.itc-slider {
    overflow: hidden;
}



.itc-slider__item {
    display: flex;
    justify-content: center;
    flex: 0 0 var(--slider-card-width);
}


.production-slider-card {

    padding: 0px 10px;
    /*width: var(--slider-card-width);
    outline: 1px solid green;*/
}

.production-slider-card-img {

    width: 100%;
}

.production-slider-card-img img {

    width: 100%;
    height: auto;
}


@media (max-width: 900px) {
    :root {
        --slider-card-count: 2;
    }
}

@media (max-width: 600px) {
    :root {
        --slider-card-count: 1;
    }
}